In [1]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression, BayesianRidge, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import json
import pprint as pprint
import pandas as pd
from joblib import dump, load

In [51]:
df = pd.read_csv('./G4EdData.csv')
df = pd.DataFrame(df)
df = df.dropna()
df

       Ticker  opening  closing  NextHigh     high      low
0        PETQ  24.8200  24.0200   24.6300  25.2290  23.7400
1        PETQ  24.3100  24.0400   24.5100  24.6300  23.7000
2        PETQ  23.9200  24.3000   24.9550  24.5100  23.3800
3        PETQ  24.3500  24.0800   24.2400  24.9550  23.2800
4        PETQ  24.2400  24.0400   24.5600  24.2400  23.7500
...       ...      ...      ...       ...      ...      ...
302184    BTB   0.8999   0.9051    0.9400   0.9150   0.8900
302185    BTB   0.9052   0.9149    1.0500   0.9400   0.8811
302186    BTB   0.9100   0.9330    0.9879   1.0500   0.8925
302187    BTB   0.9500   0.9498    1.0300   0.9879   0.9301
302188    BTB   0.9500   0.9941    1.0700   1.0300   0.9500

[302189 rows x 6 columns]

In [52]:
X = df[['opening', 'closing', 'high', 'low']]
y = df["NextHigh"].values.reshape(-1, 1)
print(X.shape, y.shape)

(302189, 4) (302189, 1)

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [54]:
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
dump(X_scaler, 'V4X_scaler.joblib') 
dump(y_scaler, 'V4y_scaler.joblib')

['V4y_scaler.joblib']

In [55]:
model = LinearRegression()

In [56]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [57]:
model.fit(X_train_scaled, y_train_scaled)

LinearRegression()

In [58]:
predictions = model.predict(X_test_scaled)
predictions

array([[-0.01361101],
       [-0.0103474 ],
       [-0.01503615],
       ...,
       [-0.00433618],
       [-0.01449239],
       [-0.00209274]])

In [59]:
MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)
### END SOLUTION
from joblib import dump, load
dump(model, 'V4Model.joblib') 
print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.00010622861062862268, R2: 0.9619750135445015

In [30]:
fdf = pd.read_csv('./V12ModelCheck.csv')
fdf = pd.DataFrame(fdf)
# fdf = fdf.sort_values(by=['lowY'], axis=0, ignore_index=True, inplace=False, ascending = False)
# fdf =fdf.head(1000)
fdf

    Ticker  openingY  closingY    highY     lowY     high
0     SRCE     48.35     48.72   48.820   47.960   49.120
1     FARO     66.93     68.44   70.000   66.930   69.023
2      HLT    140.86    141.11  143.310  140.130  142.500
3     KRNY     13.06     13.10   13.165   12.955   13.250
4     DSPG     21.90     21.84   21.900   21.830   21.880
..     ...       ...       ...      ...      ...      ...
496    SJW     68.46     68.54   69.460   68.220   68.500
497    BMI    104.26    105.43  106.190  104.260  106.370
498     DD     70.74     70.54   71.410   70.270   70.950
499    EMN    104.38    105.01  106.220  103.775  105.500
500    OMC     75.65     75.47   76.110   75.220   76.370

[501 rows x 6 columns]

In [31]:
dfx = fdf[['openingY', 'closingY', 'highY', 'lowY']]

In [32]:
dfx

     openingY  closingY    highY     lowY
0       48.35     48.72   48.820   47.960
1       66.93     68.44   70.000   66.930
2      140.86    141.11  143.310  140.130
3       13.06     13.10   13.165   12.955
4       21.90     21.84   21.900   21.830
..        ...       ...      ...      ...
496     68.46     68.54   69.460   68.220
497    104.26    105.43  106.190  104.260
498     70.74     70.54   71.410   70.270
499    104.38    105.01  106.220  103.775
500     75.65     75.47   76.110   75.220

[501 rows x 4 columns]

In [33]:
sc_new_in = X_scaler.transform(dfx)
new_out = model.predict(sc_new_in)
new_out = y_scaler.inverse_transform(new_out)
new_out

array([[4.92775764e+01],
       [6.98340255e+01],
       [1.43217851e+02],
       [1.32526181e+01],
       [2.20584973e+01],
       [1.55429971e+02],
       [1.65545987e+01],
       [1.16965810e+01],
       [6.73211353e+01],
       [4.93881845e+03],
       [9.94226334e+00],
       [3.28751997e+01],
       [2.30832418e+01],
       [1.93085172e+01],
       [1.77539412e+01],
       [5.73291935e+01],
       [5.08141906e+01],
       [8.96825152e+01],
       [1.55598820e+02],
       [6.64759800e+01],
       [2.33521940e+01],
       [2.81186232e+02],
       [4.92211413e+01],
       [3.60466311e+01],
       [1.23593792e+02],
       [3.58080772e+01],
       [2.29502535e+01],
       [1.39289034e+01],
       [2.59222963e+01],
       [1.54073707e+01],
       [5.26956463e+01],
       [7.57478297e+01],
       [7.23378114e+01],
       [2.44917990e+01],
       [3.85664437e+01],
       [3.93704032e+01],
       [5.31760505e+01],
       [2.05748160e+01],
       [1.60521331e+02],
       [1.34748465e+02],
       [5.69490840e+00],
       [9.15479044e+01],
       [1.29682549e+02],
       [1.41176136e+02],
       [1.23241789e+02],
       [6.80408230e+01],
       [4.68655699e+01],
       [2.26657945e+01],
       [1.96889231e+02],
       [2.34204316e+01],
       [1.87060291e+01],
       [4.28965020e+01],
       [1.88264442e+01],
       [3.56210251e+01],
       [7.46498184e+00],
       [6.27774623e+01],
       [4.52085964e+01],
       [3.45185174e+02],
       [1.82186767e+01],
       [1.23858329e+01],
       [5.44903622e+01],
       [6.12580486e+01],
       [6.86232352e+01],
       [7.35826495e+01],
       [2.94183848e+01],
       [2.24878417e+01],
       [2.80679763e+01],
       [2.68155247e+01],
       [2.92142115e+01],
       [4.23604170e+01],
       [1.23303449e+02],
       [2.92305944e+02],
       [3.84926255e-01],
       [5.91917595e+01],
       [4.26287450e+02],
       [1.65510206e+02],
       [7.22604726e+01],
       [2.09038097e+01],
       [3.34750807e+02],
       [4.39703324e+01],
       [1.97136258e+01],
       [7.70571969e+01],
       [4.13770323e+02],
       [3.19055869e+01],
       [5.47848313e+01],
       [1.75957269e+01],
       [2.96179431e+01],
       [2.55512673e+02],
       [3.04996633e+01],
       [1.96767852e+01],
       [3.37331019e+01],
       [3.34728177e+01],
       [1.00220107e+02],
       [4.96379719e+01],
       [6.85829906e+01],
       [1.91922432e+02],
       [2.31254506e+01],
       [2.05064703e+01],
       [2.51793295e+01],
       [5.09033663e+01],
       [3.09379084e+01],
       [1.00582187e+02],
       [2.08387676e+02],
       [4.11441694e+01],
       [7.90607217e+01],
       [4.45170253e+01],
       [7.81786821e+01],
       [1.67136045e+01],
       [2.73940030e+01],
       [7.35158256e+01],
       [1.24219876e+02],
       [1.08342669e+01],
       [1.68023058e+02],
       [1.10263030e+01],
       [3.75591001e+01],
       [5.94770376e+01],
       [7.08233472e+01],
       [7.62795312e+00],
       [1.38356728e+02],
       [1.67911494e+02],
       [2.80086453e+01],
       [3.14504658e+02],
       [5.81740398e+00],
       [6.96225013e+01],
       [2.16191086e+01],
       [3.18548855e+01],
       [2.74263662e+01],
       [1.58882482e+02],
       [1.29525932e+01],
       [6.52797621e+01],
       [5.11048984e+01],
       [2.61765034e+02],
       [3.09961733e+01],
       [2.45306522e+02],
       [1.33285745e+02],
       [3.98669126e+01],
       [2.02894523e+01],
       [3.22307496e+01],
       [4.99050425e+01],
       [8.27391021e+01],
       [5.43380381e+01],
       [8.77888903e+01],
       [1.91067346e+02],
       [1.28307919e+02],
       [1.69215026e+01],
       [1.41755098e+01],
       [3.69529001e+01],
       [2.17733735e+01],
       [5.23788390e+01],
       [3.37951425e+01],
       [8.73214186e+00],
       [3.95001906e+01],
       [1.94492744e+01],
       [3.58833542e+01],
       [4.93800864e+01],
       [6.69520555e+00],
       [1.32447736e+01],
       [1.82683054e+01],
       [2.41697160e+01],
       [1.81703175e+02],
       [4.54807698e+00],
       [1.57035648e+01],
       [1.55076865e+01],
       [3.00054021e+00],
       [2.08284392e+02],
       [4.84350052e+01],
       [1.29490766e+02],
       [4.63500113e+01],
       [6.47204204e+01],
       [1.50442221e+02],
       [1.51301301e+02],
       [8.39440185e+01],
       [1.07737032e+02],
       [4.98584235e+01],
       [3.97515984e+01],
       [1.53514912e+01],
       [1.34457733e+01],
       [1.88710499e+01],
       [1.49574067e+01],
       [1.58547814e+01],
       [4.97095816e+01],
       [2.13488104e+01],
       [1.17043461e+02],
       [9.60139778e+01],
       [1.67233633e+01],
       [6.88487453e+01],
       [7.78267492e+01],
       [9.36687865e+01],
       [4.45339458e+01],
       [3.17358083e+01],
       [3.77943129e+01],
       [1.00097096e+02],
       [4.37937271e+01],
       [2.33849420e+01],
       [4.47312749e+01],
       [4.37289944e+01],
       [2.47056548e+01],
       [3.52680913e+01],
       [7.60150087e+01],
       [6.42081725e+01],
       [7.03613438e+01],
       [3.14046793e+02],
       [6.52358393e+00],
       [2.00095484e+01],
       [3.99923794e+01],
       [2.35933967e+02],
       [3.91873768e+01],
       [5.61394042e+01],
       [2.43775556e+01],
       [3.82209469e+01],
       [1.15990954e+01],
       [4.30623463e+01],
       [1.32939745e+01],
       [2.81640770e+01],
       [4.09566732e+02],
       [1.01854907e+02],
       [1.60978117e+02],
       [1.02770858e+01],
       [6.47712438e+02],
       [4.19182618e+01],
       [7.81950331e+01],
       [3.53094952e+01],
       [3.66202034e+02],
       [2.11682899e+01],
       [1.45656189e+02],
       [8.30844675e+01],
       [8.82099863e+01],
       [1.88084322e+01],
       [3.64213845e+01],
       [1.64713127e+02],
       [4.03187001e+01],
       [5.57412719e+01],
       [1.43691244e+01],
       [5.69674612e+01],
       [3.83051314e+01],
       [1.70679935e+01],
       [3.24163711e+01],
       [2.85535235e+01],
       [9.66831300e+01],
       [7.42977998e+01],
       [4.94511285e+01],
       [1.37607054e+02],
       [1.07636973e+02],
       [9.79642584e+01],
       [1.99567050e+01],
       [2.28043061e+01],
       [5.39454445e+01],
       [8.70391293e+01],
       [5.79317639e+01],
       [2.95144111e+01],
       [3.62208187e+01],
       [5.24309147e+01],
       [1.07675841e+02],
       [1.89541324e+02],
       [1.39533416e+01],
       [1.61179505e+02],
       [4.35736754e+01],
       [7.75717361e+01],
       [6.01478866e+01],
       [4.06196146e+02],
       [3.09369347e+01],
       [2.14231405e+02],
       [2.55592082e+01],
       [1.18358976e+01],
       [1.23236987e+02],
       [9.37663494e+01],
       [6.48890750e+01],
       [2.67402205e+02],
       [3.67849414e+01],
       [2.50309286e+03],
       [2.86954709e+02],
       [1.22179800e+02],
       [4.03187105e+01],
       [2.22108665e+01],
       [4.03512330e+01],
       [3.82494662e+01],
       [1.96293415e+01],
       [4.75677413e+01],
       [2.35660069e+02],
       [1.28350919e+02],
       [4.39525766e+01],
       [7.10720313e+01],
       [3.42404718e+01],
       [8.71460904e+01],
       [9.75511873e+01],
       [1.79288029e+02],
       [1.20406477e+02],
       [8.31608836e+01],
       [9.02347229e+01],
       [9.33636485e+01],
       [1.33298667e+02],
       [4.95827637e+02],
       [5.40803460e+01],
       [4.14769241e+01],
       [1.14817234e+02],
       [2.99242284e+01],
       [1.37243384e+01],
       [6.82457501e+00],
       [4.28303957e+01],
       [1.09546959e+02],
       [7.62418202e+00],
       [2.53540127e+01],
       [2.90422782e+01],
       [1.95618024e+01],
       [7.26504254e+01],
       [7.31468586e+01],
       [2.80649148e+02],
       [8.39704069e+01],
       [4.62551694e+01],
       [3.07329036e+01],
       [2.82929610e+01],
       [1.20230242e+02],
       [1.05093977e+01],
       [1.00381190e+01],
       [9.91793558e+01],
       [4.82109110e+01],
       [6.87485120e+01],
       [7.21036266e+00],
       [1.65731438e+01],
       [3.27368425e+01],
       [2.47352657e+02],
       [4.18773784e+01],
       [1.46803330e+01],
       [8.55070638e+01],
       [7.32822487e+01],
       [2.78805788e+01],
       [1.28648228e+01],
       [4.12445450e+01],
       [1.09211039e+02],
       [2.92855941e+01],
       [1.73598815e+01],
       [9.84155250e+01],
       [4.46934780e+01],
       [7.79374728e+01],
       [2.94639831e+01],
       [1.09835289e+02],
       [1.26601645e+02],
       [2.59424623e+01],
       [8.57322592e+00],
       [1.82753094e+01],
       [2.30007356e+01],
       [5.53447526e+01],
       [2.46648655e+01],
       [5.29387872e+01],
       [1.01025648e+01],
       [4.58365195e+01],
       [3.80800882e+00],
       [6.13884572e+01],
       [2.91702779e+02],
       [4.79164376e+01],
       [1.41144283e+02],
       [7.84065714e+01],
       [2.79831693e+02],
       [8.01297765e+01],
       [6.94077075e+01],
       [1.89714987e+02],
       [1.98818004e+02],
       [6.50569792e+01],
       [5.51519018e+00],
       [1.70523801e+01],
       [7.17906093e+01],
       [1.87143719e+01],
       [9.49046648e+01],
       [1.11026476e+01],
       [2.32189575e+01],
       [2.68917828e+02],
       [1.95475406e+01],
       [9.13914298e+01],
       [4.64993703e+01],
       [8.40277469e+01],
       [5.49808255e+01],
       [5.92012977e+01],
       [8.38740218e+01],
       [4.12607568e+02],
       [3.05697788e+01],
       [3.26159373e+01],
       [3.00556175e+01],
       [1.63119314e+01],
       [2.20672295e+01],
       [8.49748556e+01],
       [4.30818533e+01],
       [7.99231485e+01],
       [3.05256559e+02],
       [5.72130698e+01],
       [2.83341810e+01],
       [1.35371459e+01],
       [2.84487444e+01],
       [2.80568433e+02],
       [3.91117717e+01],
       [7.03958806e+01],
       [2.42897532e+01],
       [4.90974179e+01],
       [6.37194991e+01],
       [7.84489779e+01],
       [3.23615006e+00],
       [1.95915480e+01],
       [1.14843484e+02],
       [5.00798088e+01],
       [9.68977230e+01],
       [2.72002482e+01],
       [5.43194476e+00],
       [6.06265024e+00],
       [3.27511400e+01],
       [1.01209093e+01],
       [8.09294388e+01],
       [3.54775309e+01],
       [1.36925751e+02],
       [1.40395707e+02],
       [1.70894594e+01],
       [6.67170418e+01],
       [2.59331818e+01],
       [7.19591274e+01],
       [1.38933163e+01],
       [9.23913124e+01],
       [6.03159607e+02],
       [1.92282023e+02],
       [8.33997316e+01],
       [4.36281810e+01],
       [2.02330967e+01],
       [3.22396040e+01],
       [6.41375767e+02],
       [8.97906823e+00],
       [2.56315344e+01],
       [6.89212177e+01],
       [1.20768436e+02],
       [1.61681544e+02],
       [8.20160200e+01],
       [7.85827469e+01],
       [2.41010036e+01],
       [5.83733341e+01],
       [1.07516589e+01],
       [1.99503147e+01],
       [1.05652787e+02],
       [1.76910543e+01],
       [9.79587442e+01],
       [3.64484403e+01],
       [9.72518763e+01],
       [2.94334471e+02],
       [5.60419414e+02],
       [6.61732713e+01],
       [3.23045008e+01],
       [1.62048183e+02],
       [1.10766175e+01],
       [1.66025575e+01],
       [8.03952221e+01],
       [9.60853511e+00],
       [7.49167989e+00],
       [3.49298701e+01],
       [1.34972894e+02],
       [6.17179268e+02],
       [2.07087163e+01],
       [1.40725207e+02],
       [4.76467936e+01],
       [1.39855138e+01],
       [2.88279124e+01],
       [1.14902474e+02],
       [6.94309947e+01],
       [1.12109176e+01],
       [2.47051371e+01],
       [1.03307018e+02],
       [1.01415231e+01],
       [1.71528352e+01],
       [5.83627730e+00],
       [3.00257936e+01],
       [4.59569847e+02],
       [1.04110843e+02],
       [2.17383340e+01],
       [7.26920635e+01],
       [1.69369579e+02],
       [4.54092833e+01],
       [4.37689952e+01],
       [1.85534092e+03],
       [8.00270239e+01],
       [1.32955474e+01],
       [1.77927665e+01],
       [8.78382429e+00],
       [6.26567247e+01],
       [8.29080083e+01],
       [7.90917734e+01],
       [6.71672482e+01],
       [2.67117267e+02],
       [5.88378727e+01],
       [8.37361128e+01],
       [8.94603683e+01],
       [1.85274975e+01],
       [8.12527064e+01],
       [4.85139704e+01],
       [6.16344962e+02],
       [1.14842452e+02],
       [1.80328309e+02],
       [1.36732592e+02],
       [7.91529957e+00],
       [2.61998531e+01],
       [8.85696305e+01],
       [6.34396726e+02],
       [8.84573222e+01],
       [6.95074673e+01],
       [1.06863332e+02],
       [7.14692088e+01],
       [1.06508497e+02],
       [7.63739390e+01]])

In [34]:
fdf["next_high"]= new_out
fdf

    Ticker  openingY  closingY    highY     lowY     high   next_high
0     SRCE     48.35     48.72   48.820   47.960   49.120   49.277576
1     FARO     66.93     68.44   70.000   66.930   69.023   69.834026
2      HLT    140.86    141.11  143.310  140.130  142.500  143.217851
3     KRNY     13.06     13.10   13.165   12.955   13.250   13.252618
4     DSPG     21.90     21.84   21.900   21.830   21.880   22.058497
..     ...       ...       ...      ...      ...      ...         ...
496    SJW     68.46     68.54   69.460   68.220   68.500   69.507467
497    BMI    104.26    105.43  106.190  104.260  106.370  106.863332
498     DD     70.74     70.54   71.410   70.270   70.950   71.469209
499    EMN    104.38    105.01  106.220  103.775  105.500  106.508497
500    OMC     75.65     75.47   76.110   75.220   76.370   76.373939

[501 rows x 7 columns]

In [35]:
fdf["proj_change"]= fdf['next_high']/fdf["closingY"]*100-100
fdf["act_change"]= fdf['high']/fdf["closingY"]*100-100
fdf["dif%"]= abs(fdf["proj_change"]-fdf["act_change"])
fdf['proj_change'].max()

4.834421865152123

In [36]:
rdf = fdf.sort_values(by=['proj_change'], axis=0, ignore_index=True, inplace=False, ascending = False)
rdf['dif%'].mean(axis=0)

1.0373657440369441

In [387]:
fdf = fdf.sort_values(by=['dif%'], axis=0, ignore_index=True, inplace=False, ascending = False)
fdf.head(30)

,Ticker,openingY,closingY,highY,lowY,high,next_high,proj_change,act_change,dif%
0,MIC,40.7000,40.7100,40.8450,40.5830,3.7100,41.144169,1.066493,-90.886760,91.953253
1,MCAFR,0.3820,0.3820,0.3820,0.3820,0.4300,0.384926,0.766035,12.565445,11.799410
2,LW,55.2000,58.2000,61.0200,54.1800,57.7700,60.147887,3.346884,-0.738832,4.085716
3,KEQU,13.4100,13.4100,13.4100,13.4100,13.0300,13.537146,0.948143,-2.833706,3.781849
4,BFC,71.1000,71.8500,71.8500,71.1000,70.0600,72.650425,1.114023,-2.491301,3.605324
5,GNL,16.5600,16.5200,16.6800,16.5000,16.1399,16.723363,1.231013,-2.300847,3.531860
6,PTNR,4.4800,4.4800,4.5600,4.4800,4.7000,4.548077,1.519575,4.910714,3.391139
7,DBRG,6.5100,6.4200,6.5900,6.3500,6.7400,6.523584,1.613457,4.984424,3.370967
8,RGP,17.9900,19.2300,19.4400,17.6100,19.0300,19.676785,2.323376,-1.040042,3.363417
9,PLBC,33.0000,33.3796,33.5000,33.0000,34.9000,33.795143,1.244900,4.554878,3.309978
10,GOGL,11.0200,10.6500,11.0700,10.6410,10.5300,10.834267,1.730205,-1.126761,2.856966
11,EIC,18.0800,18.1000,18.1000,18.0450,18.7700,18.275309,0.968560,3.701657,2.733097
12,USLM,121.0754,118.8750,121.0754,118.8750,117.1800,120.406477,1.288309,-1.425868,2.714177
13,NBTX,11.4000,12.0000,12.5500,11.4000,12.7000,12.385833,3.215274,5.833333,2.618059
14,CDZI,6.9400,7.0600,7.2600,6.9400,7.0400,7.210363,2.129783,-0.283286,2.413069
15,GBNH,7.2500,7.3600,7.4100,7.0300,7.6400,7.464982,1.426384,3.804348,2.377964
16,CWCO,11.5200,11.5100,11.7499,11.4300,11.9600,11.696581,1.621034,3.909644,2.288610
17,KMI,16.8400,16.9400,17.0500,16.7700,17.5300,17.152835,1.256406,3.482881,2.226475
18,OPOF,21.4100,21.3237,21.9999,20.9130,21.2800,21.738334,1.944475,-0.204936,2.149411
19,UMC,11.0300,10.9600,11.1100,10.9500,10.8700,11.102648,1.301529,-0.821168,2.122697
20,FUSB,10.8000,10.8702,11.0000,10.8000,10.8000,11.026303,1.436064,-0.645802,2.081866
21,SBR,43.0300,43.3300,43.8200,42.6300,44.8500,43.952577,1.436826,3.507962,2.071137
22,WILC,20.3500,20.3300,20.4950,20.2500,20.9899,20.574816,1.204210,3.245942,2.041731
23,CABO,1828.3200,1828.0900,1857.9300,1815.3250,1818.2000,1855.340922,1.490677,-0.541002,2.031679
24,CRVL,171.3100,178.2100,180.4400,171.3100,178.3000,181.703175,1.960145,0.050502,1.909643
25,EDF,7.5700,7.7800,7.8700,7.5700,7.7676,7.915300,1.739069,-0.159383,1.898452
26,STT,90.3700,89.0800,90.5900,89.0200,91.9200,90.234723,1.296276,3.188145,1.891869
27,RGLD,95.1500,94.7200,96.1000,94.3232,97.8000,96.013978,1.366108,3.251689,1.885581
28,CTLT,130.8600,131.0800,133.9500,130.8600,130.8900,133.298667,1.692605,-0.144950,1.837555
29,MKTX,414.6800,419.5800,425.5600,414.6800,418.6000,426.287450,1.598610,-0.233567,1.832177

In [389]:
pdf = fdf.sort_values(by=['proj_change'], axis=0, ignore_index=True, inplace=False, ascending = False)
pdf.head(30)

,Ticker,openingY,closingY,highY,lowY,high,next_high,proj_change,act_change,dif%
0,KCAC.U,10.35,8.5650,10.3500,7.6000,9.1000,8.979068,4.834422,6.246351,1.411930
1,LW,55.20,58.2000,61.0200,54.1800,57.7700,60.147887,3.346884,-0.738832,4.085716
2,NBTX,11.40,12.0000,12.5500,11.4000,12.7000,12.385833,3.215274,5.833333,2.618059
3,CPAC,5.30,5.5600,5.6900,5.3000,5.7199,5.694908,2.426410,2.875899,0.449489
4,RGP,17.99,19.2300,19.4400,17.6100,19.0300,19.676785,2.323376,-1.040042,3.363417
5,HCI,128.38,131.9200,135.0600,128.3800,135.0000,134.748465,2.144076,2.334748,0.190672
6,CDZI,6.94,7.0600,7.2600,6.9400,7.0400,7.210363,2.129783,-0.283286,2.413069
7,HELE,232.16,231.0500,239.7000,228.7750,233.2500,235.933967,2.113814,0.952175,1.161639
8,ACI,28.51,27.9700,29.1800,27.8400,28.1400,28.553524,2.086248,0.607794,1.478454
9,BAP,119.15,125.7600,126.8700,118.3700,127.8800,128.350919,2.060209,1.685751,0.374459
10,FARO,66.93,68.4400,70.0000,66.9300,69.0230,69.834026,2.036858,0.851841,1.185017
11,JHG,44.05,45.4300,46.2700,44.0307,45.5300,46.350011,2.025118,0.220119,1.805000
12,MRVL,65.03,65.1700,67.1900,64.5100,65.6000,66.475980,2.003959,0.659813,1.344146
13,AZPN,141.58,137.6400,143.7200,134.3900,142.2000,140.395707,2.002112,3.312990,1.310878
14,MOLN,19.47,19.8400,20.2900,19.4000,20.2800,20.233097,1.981334,2.217742,0.236408
15,NTES,90.00,96.0700,96.1900,89.9500,97.3600,97.964258,1.971748,1.342771,0.628977
16,CRVL,171.31,178.2100,180.4400,171.3100,178.3000,181.703175,1.960145,0.050502,1.909643
17,OPOF,21.41,21.3237,21.9999,20.9130,21.2800,21.738334,1.944475,-0.204936,2.149411
18,ERO,17.05,18.1800,18.1800,17.0500,18.5100,18.527497,1.911427,1.815182,0.096246
19,MSEX,106.88,105.6600,109.2914,105.4600,106.0500,107.675841,1.907856,0.369108,1.538747
20,UTZ,16.08,16.2500,16.6300,16.0600,16.4100,16.554599,1.874453,0.984615,0.889838
21,BCH,17.36,17.3700,17.8400,17.2200,17.4100,17.691054,1.848326,0.230282,1.618044
22,ZNGA,7.32,7.4900,7.6150,7.3000,7.5300,7.627953,1.841831,0.534045,1.307785
23,XLNX,155.29,158.0700,161.0300,154.6300,159.4800,160.978117,1.839766,0.892010,0.947756
24,CG,48.02,48.9600,49.8400,48.0200,49.7300,49.858424,1.835015,1.572712,0.262303
25,FYBR,27.74,29.0900,29.2200,27.7400,29.1600,29.617943,1.814861,0.240633,1.574229
26,FEI,7.27,7.4900,7.5800,7.2600,7.5700,7.624182,1.791482,1.068091,0.723392
27,JAZZ,137.02,138.6700,141.3800,135.6100,139.8300,141.144283,1.784296,0.836518,0.947777
28,LEA,160.31,164.9800,166.9100,159.5750,170.2200,167.911494,1.776878,3.176143,1.399264
29,FICO,403.16,406.5700,415.1500,403.1600,411.4200,413.770323,1.770992,1.192907,0.578086

In [ ]:
purchase_list = rdf.head(3)
purchaseCsv =pd.DataFrame({ 'Ticker':purchase_list['Ticker'], 'low': purchase_list['low']})
purchaseCsv.to_csv(r'../Machine_learning/purchaseCsv.csv', index = False)

In [ ]:
r_fdf_2 = fdf_2.drop(columns=["Hmo1", "Lmo1", "Cmo1", "Vmo1"], axis = 1)

In [ ]:
r_fdf_2

In [ ]:

    
MultiDayInfo = fdf_2.to_json(orient='records')

In [ ]:
fdf_2.to_json(r'../data/MultiDayInfo.json', orient='records')
fdf_2.to_csv(r'../data/MultiDayInfo.csv', index = False)

In [ ]:
MultiDayInfo

In [ ]:
r_fdf_2.to_json(r'../data/Predicted_Info_2.json', orient= 'records')# Ravi

In [ ]:
r_fdf_2.to_csv(r'../data/Predicted_Info_2.csv', index = False) # Ravi