In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [3]:
tables = pd.read_html(url)
tables

[    Symbol             Security SEC filings             GICS Sector  \
 0      MMM           3M Company     reports             Industrials
 1      ABT  Abbott Laboratories     reports             Health Care
 2     ABBV          AbbVie Inc.     reports             Health Care
 3     ABMD              Abiomed     reports             Health Care
 4      ACN            Accenture     reports  Information Technology
 ..     ...                  ...         ...                     ...
 500    YUM      Yum! Brands Inc     reports  Consumer Discretionary
 501   ZBRA   Zebra Technologies     reports  Information Technology
 502    ZBH        Zimmer Biomet     reports             Health Care
 503   ZION        Zions Bancorp     reports              Financials
 504    ZTS               Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  \
 0              Industrial Conglomerates      St. Paul, Minnesota
 1                 Health Care Equipment  North Chicago, Illinois
 2                       Pharmaceuticals  North Chicago, Illinois
 3                 Health Care Equipment   Danvers, Massachusetts
 4        IT Consulting & Other Services          Dublin, Ireland
 ..                                  ...                      ...
 500                         Restaurants     Louisville, Kentucky
 501  Electronic Equipment & Instruments   Lincolnshire, Illinois
 502               Health Care Equipment          Warsaw, Indiana
 503                      Regional Banks     Salt Lake City, Utah
 504                     Pharmaceuticals   Parsippany, New Jersey

     Date first added      CIK      Founded
 0         1976-08-09    66740         1902
 1         1964-03-31     1800         1888
 2         2012-12-31  1551152  2013 (1888)
 3         2018-05-31   815094         1981
 4         2011-07-06  1467373         1989
 ..               ...      ...          ...
 500       1997-10-06  1041061         1997
 501       2019-12-23   877212         1969
 502       2001-08-07  1136869         1927
 503       2001-06-22   109380         1873
 504       2013-06-21  1555280         1952

 [505 rows x 9 columns],
                  Date  Added                             Removed  \
                  Date Ticker                    Security  Ticker
 0        May 14, 2021    CRL  Charles River Laboratories    FLIR
 1      April 20, 2021    PTC                    PTC Inc.     VAR
 2      March 22, 2021   NXPI          NXP Semiconductors     FLS
 3      March 22, 2021   PENN        Penn National Gaming     SLG
 4      March 22, 2021   GNRC            Generac Holdings     XRX
 ..                ...    ...                         ...     ...
 266  December 5, 2000    SBL         Symbol Technologies      OI
 267  December 5, 2000    AYE            Allegheny Energy     GRA
 268  December 5, 2000    ABK             Ambac Financial     CCK
 269     July 27, 2000   JDSU                JDS Uniphase     RAD
 270  December 7, 1999   YHOO                      Yahoo!     LDW

                                                                         Reason
                    Security                                             Reason
 0              FLIR Systems  S&P 500 constituent Teledyne Technologies Inc....
 1    Varian Medical Systems  Siemens Healthineers AG acquired Varian Medica...
 2                 Flowserve                   Market capitalization change.[8]
 3           SL Green Realty                   Market capitalization change.[8]
 4                     Xerox                   Market capitalization change.[8]
 ..                      ...                                                ...
 266          Owens-Illinois                                Market Cap changes.
 267              W.R. Grace                                Market Cap changes.
 268          Crown Holdings                                Market Cap changes.
 269                 RiteAid                            Market Cap change.[212]
 270                 Laidlaw                            Market Cap change.[213]

 [271 rows x 6 columns]]

In [9]:
df =tables[0]
df = df[['Symbol','Security','GICS Sector']]
df

    Symbol             Security             GICS Sector
0      MMM           3M Company             Industrials
1      ABT  Abbott Laboratories             Health Care
2     ABBV          AbbVie Inc.             Health Care
3     ABMD              Abiomed             Health Care
4      ACN            Accenture  Information Technology
..     ...                  ...                     ...
500    YUM      Yum! Brands Inc  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [12]:
df.to_csv(r'./sp500list1.csv', index = False)